/* calendar.css */

h1 {
    font-family: "Chalkduster", fantasy;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px; /* Adjust the value as needed */
  }

  h2 {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
  }  

.fc-toolbar-title {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Optima;
    /* Add other desired styles */
  }

  .fc-event-title {
    white-space: normal; /* Allow line breaks */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for long titles */
    max-height: 3em; /* Limit the maximum height to three lines */
  }

  .fc-toolbar-chunk {
    /* Add your custom styles here */
    text-align: center;
    /* Add more custom styles as needed */
  }

  :root {
    --fc-button-bg-color: #000000; /* Black color */
  }